html {
  font-size: 16px;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
    color: rgb(74, 74, 74);
}

a{
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.35rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
  font-size: 1.35rem;
}

.encode {
  font-family: font-family: 'Encode Sans Semi Condensed', sans-serif;
}

/*Header*/

header {
  display: flex;
  top: 0;
  justify-content: space-between;
  position: fixed;
  height: 4rem;
  width: 100%;
  z-index: 5;
  background-color: white;
}

header div {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

header nav {
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
}

header h3{
  display: inline-block;

}

header span{
  font-weight: 200;

}

header li{
  list-style-type: none;
  display: inline-block;
  padding-left: 1rem;
}

/* Jumbotoron */

.jumbotron {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  padding:2rem 1.5rem;
  background-color: rgb(216, 216, 216);
}

.jumbotron img {
  width: 60%;
}

.heading {
  display: inline-block;
  width: 32%;
  margin-left:1.5rem;
}

.heading h2 {
  padding-bottom:1rem;
}

div.heading h3{
  width: 100%;
  padding: 0.5rem 0;
  background-color:gray;
  text-align: center;
  background-color: rgb(74, 74, 74);
  color: white;
}

/* Information */

.information{
  display: flex;

}

.left {
  width: 60%;
  margin: 2rem 1.5rem;

}

.left img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.left h1 {
  font-size: 2.5rem;
}

.left .encode {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.right {
  width:40%;
  padding-top: 1rem;
  border-left: 1px solid rgb(224, 226, 226);
}

.right a{
  color: blue;
}

.right img {
  width: 35%;
  padding: 1rem;
}

.box {
  display: flex;
  align-items: center;
  border: 1px solid rgb(224, 226, 226);
  padding-right: 1rem;
}

.box:first-child{
  border-top: unset;
}

.box p, h2 {
  margin: 0.5rem 0;
}

.text p {
  font-size: 1.2rem;
}

.guest-lecture {
    background-color: rgb(216, 216, 216);
}

/* Courses */

.courses {
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    padding: 2rem 4.5rem;
}

.courses h1 {
  text-align: center;
  margin: 1rem 0;
}

.col {
  display: flex;
  padding: 1rem 0;
}

.course-box {
  margin-right: 2rem;
  background-color: white;
  width: 31%;
}

.col .course-box:last-child {
  margin-right: unset;
}

.course-box img {
  max-width: 100%;
}

.textbox {
  padding: .5rem 1rem 1rem 1rem;;

}

.textbox h2{
  font-size: 2rem;
}

.textbox p{
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1.35rem;
}
